.slide1{
    height: 50px;
    width: 100%;
    background: #383838 ;
    font-size: 50px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: 80%;
    font-style: bold;
    text-align: center;
    color: #FF6600;
    padding-top: 70px;
    display: table;
    margin: 0 auto;
    letter-spacing: 1px;
}

.slide2{
    height: 150px;
    width: 100%;
    background: #383838 ;
    font-size: 30px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: 80%;
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 90px;
    display: table;
    margin: 0 auto;
}
.slide6{
    height: 50px;
    width: 100%;
    background: black ;
    font-size: 50px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: 80%;
    font-style: bold;
    text-align: center;
    color: #FF6600;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin: 0 auto;
}

.slide7{
    height: 140px;
    width: 100%;
    background: black ;
    font-size: 30px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: 80%;
    text-align: center;
    color: white;
    padding-left:20%
    float:right; 
    padding-right:10%;
    padding-top: 50px;
    padding-bottom: 75px;
    letter-spacing: 1px;
    margin: 0 auto;
}

